.header {
    background-color: #1f2937;
    height: 100px;
    margin: 0%;
    padding: 0%;
    display: flex;
}
.header-links {
    display: flex;
    margin-left: auto;
    padding: 8px;
    gap: 16px;
}

a {
    color: #f9faf8;
}

.logo {
    background-color: #1f2937;
    height: 125px;
    display: flex;
}

h1 {
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 10px;
    margin-top: 0;
    font-size: 35px;
}

p {
    color: #f9faf8;
    font-size: 18px;
}

.images {
    background-color: #f9faf8;
    height: 175px;
}

.quote {
    background-color: #cbc2ec;
    height: 175px;
}

.action {
    background-color: blueviolet;
    height: 175px;
}